@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/base\.css}line{font-family:\000035}}
body {
  padding-top: 42px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/base\.css}line{font-family:\000039}}
a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/base\.css}line{font-family:\0000313}}
#Content {
  border: 1px solid orange;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/base\.css}line{font-family:\0000318}}
#Content .hulk {
  background: transparent url('http://wlls.localhost/img/hulk.jpg');
  width: 344px;
  height: 390px;
}
