@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/sidebar\.css}line{font-family:\000031}}
#Sidebar {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tamasfodor\/Sites\/white_label_less_structure\/css\/base\/sidebar\.css}line{font-family:\000035}}
#Sidebar aside {
  border: 1px solid blue;
  padding: 10px;
}
